/* Colors and fronts */
body {
background-color: #B8E4F0;
color: rgb(20, 20, 20);
font-family: 'Lato', sans-serif;

font-size: 18px;

}

 
a {
text-decoration: none;
color: #6E3CBC;
font-family: 'Roboto', sans-serif;
font-size: 21px;
font-weight: 600;

}
a:hover {
color: #B8E4F0;
}

 
h1 {
color: #6E3CBC;
font-family: 'Oswald', sans-serif;
font-weight: 600;
letter-spacing: 3px;
font-size: 35px;
text-transform:  uppercase;
}

h2 {
font-family: 'Oswald', sans-serif;
color: black;
font-size: 30px;
background-color: #f6f7eb;
font-weight: 600;
}


/*Custom design with class */

.container {
width: 700px auto;
margin: 40px auto;

}
.card-white {
background: #F6F7EB;
padding: 70px;
margin: 20px auto;
width: 700px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
border-radius: 4px;
text-align: center;

}

.img-circle {
	border-radius: 50%
}

.btn-red {
	background-color: rgb(110, 60, 188,0.75);
	color: black;
	padding: 20px 25px
	border-radius: 6px;
}
.btn-red:hover {
	background-color: rgb(20,20,20,0.01);
	color: black;
}

.list-inline {
	list-style: none;
	padding-left: 0px

}
.list-inline li {
	display: inline;
	padding: 10px
}

.list-inline i {
	font-size: 50px;

}

.list-inline i:hover {
	color: lightblue
}

#introduction p {
	margin-bottom: 40px
}